<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <span>MangaIn</span>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
            <li><a href="#" class="nav-link px-2">Directorio</a></li>
            <li><a href="#" class="nav-link px-2">Peticiones</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-primary me-2">Iniciar sesión</button>
            <button type="button" class="btn btn-primary me-2">Registrarse</button>
            <button type="button" class="btn btn-primary" (click)="actualizarBotonUI(); emitNumber()">
                @if(mode == 0){ 
                    <i class="bi bi-brightness-high-fill"></i>
                }@else{
                    <i class="bi bi-moon-stars-fill"></i>
                }
            </button>
        </div>
    </header>
</div>