<section class="py-3 py-md-5 d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">
            <div class="card">
                <div class="card-body">
                   <div class="format">
                    <span class="span" style="margin: 10px;">PDF</span>
                    <i class="bi bi-filetype-pdf"></i>
                   </div>
                   <span style="margin: 10px;">TO</span>
                   <div class="format">
                    <span class="span" style="margin: 10px;">WORD</span>
                    <i class="bi bi-file-earmark-word"></i>
                </div>
                </div>
            </div>
        </h1>
    </div>
</section>