<div class="container">
    <div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
    this.page.url = "http://localhost:4200/requests";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "123"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://testpagecom.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
</div>