<div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 2px;">
    <div class="progress-bar" style="width: 0%; background-color: #856AF7;" role="progressbar"></div>
</div>
<app-header (numberEmit)="reciviedNumber($event)"  [@fadeAnimation] = "mode"></app-header>
    <div [@fadeAnimation] = "outlet.isActivated ? outlet.activatedRoute : ''"  [@fadeAnimation] = "mode">
        <router-outlet #outlet = "outlet"></router-outlet>
    </div>
<app-footer  [@fadeAnimation] = "mode"></app-footer>